{{ "<!-- volunteers -->" | safeHTML }}
  <section id="volunteer" class="main special">
    <div class="container">
      <!--<span class="image fit primary"><img src="images/{{ with .Site.Params.volunteer.picture }}{{ . }}{{ end }}" alt="" /></span>-->
      <div class="content">
        <header class="major">
          <h2>{{ with .Site.Params.volunteer.title}}{{ . | markdownify }}{{ end }}</h2>
        </header>
        <p>{{ with .Site.Params.volunteer.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
      <a href="{{ .Site.Params.volunteer.buttonLink }}" class="button" > {{ .Site.Params.volunteer.buttonText}} <i class="fa fa-external-link"></i></a>
      <a href="#donate" class="goto-next scrolly">{{ with .Site.Params.volunteer.buttonText }}{{ . | markdownify }}{{ end }}</a>
    </div>
  </section>
